---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Sakura">
	<main>
		<section>
			<h1>Sakura Festival 2023</h1>
			<p>Join us for a lively and colorful celebration of Japanese culture at our annual Sakura festival!</p>
			<a href="program">2023 Program 	&#8594</a>
			<img src="../icons/bubble.svg" alt="baggrundsgrafik">
		</section>
		<img src="../img/gren.png" alt="blomst gren">
	</main>
</Layout>

<style>

	main {
		max-width:1200px;
		margin: auto;
	}
	#youtube {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin-bottom: 60px;
	}
iframe {
	aspect-ratio: 16/9;
	width: 80%;

	max-width: 600px;
}	
</style>
