---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sakura">
  <main>
    <section class="bubble_grid">
      <div class="grid_flex">
        <div>
          <h1>Sakura Festival 2023</h1>
          <p>Join us for a lively and colorful celebration of Japanese culture at our annual Sakura festival!</p>
          <a class="forside_knap" href="program">2023 Program &#8594</a>
        </div>
      </div>
      <img class="forsideblomt" src="../icons/blomstforside.png" alt="blomstforside" />
    </section>
    <img class="forsidegren" src="../img/gren.png" alt="forsidegren" />
    <section class="bubble_grid1">
      <div class="grid_flex1">
        <h2>Sakura Festival 2022</h2>
        <p class="padding-bottom">Post Festival Video</p>
        <iframe
          src="https://www.youtube.com/embed/vZGJPqfaOEA"
          title="Sakura Festival 2022 - See You Next Year :)"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }

  h1 {
    padding-top: 30px;
  }

  .forside_knap {
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    background-color: var(--third-bg-color);
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 12px;
  }

  .bubble_grid {
    display: grid;
    grid-template-columns: 3fr 1fr;

    min-height: 400px;

    background-image: url(../icons/bubble.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .bubble_grid p {
    margin-bottom: 30px;
  }

  .bubble {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 430px;

    position: absolute;
    left: -10%;
  }

  .grid_flex {
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    align-self: start;

    padding-top: 20px;
    padding-left: 22%;

    background-image: none;
  }
  .forsideblomt {
    width: 45%;
  }

  .forsidegren {
    width: 50%;
    z-index: 4;
    left: 20%;
    top: 15%;
    position: absolute;
    rotate: 30deg;
  }

  .bubble_grid1 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
    margin-bottom: 50px;

    min-height: 400px;

    background-image: url(../icons/bubble.svg);
    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;
  }

  .grid_flex1 {
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bubblevideo {
    grid-column: 1;
    grid-row: 1;
    width: 400px;
  }

  iframe {
    aspect-ratio: 16/9;
    width: 62%;

    max-width: 600px;
  }

  .bubble_grid1 h2 {
    padding-top: 20px;
    margin-bottom: 0;
  }

  .forsideblomt {
    display: none;
  }

  @media (min-width: 768px) {
    .bubble {
      width: 40%;
      top: 17%;
      left: 10%;
    }
    .bubble_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      background-image: none;
    }

    .grid_flex {
      padding-left: 110px;
      padding-top: 90px;

      min-height: 400px;

      background-image: url(../icons/bubble.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .grid_flex div {
      max-width: 400px;
    }

    .forsidegren {
      display: none;
    }

    .forsideblomt {
      display: block;
      grid-row: 1;
      grid-column: 2;
      justify-self: center;
    }

    .bubblevideo {
      position: absolute;
      width: 820px;
      top: 92%;
      left: 23%;
    }

    .bubble_grid1 {
      margin-top: 80px;
      margin-bottom: 50px;

      min-height: 700px;

      background-position: center;
    }

    .grid_flex1 {
      padding-top: 50px;
    }
  }

  .padding-bottom {
    padding-bottom: 5%;
  }
</style>
