---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Event">
<main>
    <h2>PROGRAM</h2>
    <h1>TITLE OF EVENT</h1>
    <div id="grid1-2">
    <div id="container_sv">
<h3>Scene</h3>
<p>Main stage</p>
<h3>Show</h3>
<p>Saturday, April 22</p>
<h3>More about the event</h3>
<p>Link</p>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus dolor soluta, pariatur delectus dignissimos itaque. Culpa cumque sunt molestiae, facilis reprehenderit aut porro repellendus quam autem pariatur hic voluptas officiis facere distinctio doloribus alias eius aliquam sit illum quis. Delectus aperiam consequatur quae vel maxime?</p>
</div>
<h2>SEE MORE</h2>
<div id="grid1-1-1">
    <section><img src="" alt=""><p>Tea drinking</p></section>
</div>
</main>
</Layout>