---
// const urlParams = new URLSearchParams(window.location.search);
// const id = urlParams.get("id");
import Layout from "../layouts/Layout.astro";
const id = 1;
const url = `https://mnrbumhbdeqyiuvlivuo.supabase.co/rest/v1/events/${id}`;

const options = {
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ucmJ1bWhiZGVxeWl1dmxpdnVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MDE0MDgsImV4cCI6MTk5NDI3NzQwOH0.-G8xa9L5ZoWsA63QnJjFw-CUp8sfkdMxziBbhoWKnq8",
    },
};

const response = await fetch(url, options);
const events = await response.json(); 

function getEvent(){
    console.log("test");
  fetch(url)
    .then((res) => res.json())
    .then(visEvent);
} 

function visEvent (){
    console.log("visEvents");
    document.querySelector(".scene p").textContent = events.scene;
    document.querySelector(".date p").textContent = events.date;
    document.querySelector(".center h1").textContent = events.name;
    document.querySelector(".center h2").textContent = events.artist;
    document.querySelector(".desc p").textContent = events.description;
}


getEvent();




---

<Layout title="Event">
<main>
    <h2 class="center">PROGRAM</h2>
    <h1 class="center">TITLE OF EVENT</h1>
    <div id="grid1-2">
    <div id="container_sv">      
<h3>Scene</h3>
<p class="scene">Main stage</p>
<h3>Date</h3>
<p class="date">Saturday, April 22</p>
<h3>More about the event</h3>
<p>Link</p>
    </div>
    <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus dolor soluta, pariatur delectus dignissimos itaque. Culpa cumque sunt molestiae, facilis reprehenderit aut porro repellendus quam autem pariatur hic voluptas officiis facere distinctio doloribus alias eius aliquam sit illum quis. Delectus aperiam consequatur quae vel maxime?</p>
    
<img src="../public/icons/svbubble.png" alt="background"></div>
<!-- <img class="swgren" src="../img/gren.png" alt="swgren"> -->
<h2 class="center">SEE MORE</h2>
<div id="grid1-1-1">
    <section>  <a href="#"><img src="https://source.unsplash.com/random/400x200?sig=1" alt=""><p>Tea drinking</p></a></section>
    <section>  <a href="#"><img src="https://source.unsplash.com/random/400x200?sig=1" alt=""><p>Tea drinking</p></a></section>
    <section>  <a href="#"><img src="https://source.unsplash.com/random/400x200?sig=1" alt=""><p>Tea drinking</p></a></section>
</div>
</main>
</Layout>
<style>
     main {
        margin-left: 5%;
        margin-right: 5%;
    }
     #grid1-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
#grid1-2 img {
    display: block;
    grid-column: 1;
    grid-row: 1 /span 2;  
    width: 300px;
    }
   #container_sv {
        z-index: 3;
        grid-column: 1;
        grid-row: 1 /span 2;
        margin-left: 15%;
        margin-top: 25%;
    }
    .center {
        text-align: center;
    }
    #grid1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
</style>