---
const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<a href="/" class="logo"><img src="icons/logo.svg" alt=""></a>
			<button id="burger-menu">
			  <span class="burger-menu-icon"></span>
			  <span class="burger-menu-label">Menu</span>
			</button>
			<nav id="navbar">
			  <ul>
				<li><a href="/">Home</a></li>
				<li><a href="about_us">About Us</a></li>
				<li><a href="program">Program</a></li>
			  </ul>
			</nav>
		  </header>
		<slot />
		<footer>

		</footer>
	</body>
</html>

<style>
/* ------------------------- Custom-properties ------------------------------ */
html {
	--main-bg-color: #F6EEEE;

}

/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #2d2d2d;
  background-color: var(--main-bg-color);
}

 

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}







/*---------------------------- Burger menu ----------------------- */
/* Styles for desktop navigation menu */
#navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin: 0 20px;
}

#navbar a {
  color: #333;
  text-decoration: none;
}

/* Styles for mobile burger menu */
#burger-menu {
  display: none;
}

#burger-menu .burger-menu-icon {
  display: block;
  width: 30px;
  height: 4px;
  background: #333;
  margin-bottom: 5px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

#burger-menu .burger-menu-icon:before,
#burger-menu .burger-menu-icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #333;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

#burger-menu .burger-menu-icon:before {
  top: -10px;
}

#burger-menu .burger-menu-icon:after {
  top: 10px;
}

#burger-menu.active .burger-menu-icon {
  transform: rotate(45deg);
}

#burger-menu.active .burger-menu-icon:before {
  transform: rotate(90deg) translate(0, 10px);
}

#burger-menu.active .burger-menu-icon:after {
  transform: rotate(-90deg) translate(0, -10px);
}



/* -------------------------------- Media query for mobile devices  --------------------------------*/
@media (max-width: 768px) {
	header {
		display: flex;
		flex-direction: row;
	}
  #navbar {
    display: none;
  }
  
  /* Show burger menu on mobile devices */
  #burger-menu {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;

	margin-top: 20px;
  }
  
  /* Styles for mobile burger menu */
  #burger-menu .burger-menu-label {
    display: none;
  }
  
  /* Show navigation menu on click */
  #burger-menu.active + #navbar {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #navbar li {
    display: block;
    margin: 20px 0;
  }
}


</style>

<script>
// Toggle navigation menu on burger menu click
document.getElementById("burger-menu").addEventListener("click", function() {
  this.classList.toggle("active");
});



</script>
