---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <header>
            <div class="logo-container">
              <a href="/"><img src="../icons/logoLOGO.png" alt="Sakura Logo"></a>
            </div>
            <nav class="mobile-nav">
              <a href="about_us">About Us</a>
              <a href="program">Program</a>
            </nav>
            <div class="icon-container">
              <img id="icon" src="../icons/bars.svg" alt="Burger Menu">
            </div>
          </header>
          <div id="overlay" class="overlay">
            <nav class="overlay-nav">
              <a href="about_us">About Us</a>
              <a href="program">Program</a>
            </nav>
            <div id="close-icon" class="overlay-close">
              <img src="../icons/close.svg" alt="Close icon">
            </div>
          </div>          
        <slot />
        <footer>
          <div id="info">
            <h4>Sakura</h4>
            <p class="f_margin">c/o Embassy Of Japan</p>
            <p>Havneholmen 25, 9F</p>
            <p>1561 København V</p>
          </div>
          <div id="contact">
            <h4>Contact</h4>
            <a href="tel:+4533455151">tlf: (+45) 3345 5121</a>
            <p class="f_margin">fax: (+45) 3311 3377</p>
            <a href="mailto:info.cph@ch.mofa.go.jp">E-mail: info.cph@ch.mofa.go.jp</a>
          </div>
          <div id="volunteer">
            <h4>Become a Volunteer</h4>
            <form name="Become a Volunteer" method="post" data-netlify="true">
              <label for="name">
                <input class="form_style" placeholder="fx. Torben Hansen" id="name" name="name" required type="text">
              </label>
              <label for="email">
                <input class="form_style" placeholder="fx. torben_h27@gmail.com" id="email" name="email" required type="email">
              </label>
              <button type="submit">Sign Up</button>
            </form>
          </div>
          <div id="socials">
            <a target="_blank" href="https://www.instagram.com/copenhagensakurafestival/"><img src="../icons/instagram.svg" alt="Instagram Link"></a>
            <a target="_blank" href="https://www.facebook.com/copenhagensakurafestival"><img src="../icons/facebook.svg" alt="Facebook Link"></a>
          </div>
        </footer>
        <script src="../scripts/burger.js"></script>
    </body>
</html>

<style>
/* ------------------------- Custom-properties ------------------------------ */
html {
	--main-bg-color: #F6EEEE;
  --secondary-bg-color: #fccdcc; 
  --third-bg-color: #FE908F; 
  --icon-color: #5E7468;

}

/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #2d2d2d;
  background-color: var(--main-bg-color);
}

 

/* Normalisering af billeder */
img {
  width: 100%;
  height: auto;
  display: block;
}


/* -------------------------- Menu -------------------------------- */
/* Mobile styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-bg-color); /* Replace with your desired background color */
  padding: 10px;
}

.logo-container {
  flex-grow: 1;
}

.logo-container img {
  width: 70px; /* Replace with your desired logo size */
}

nav.mobile-nav {
  display: none;
}

.icon-container {
  margin-left: 10px;
}

.icon-container img {
  width: 30px; /* Replace with your desired icon size */
  margin-right: 20px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  border-radius: 0 0 0 30px;
  background-color: var(--secondary-bg-color); /* Replace with your desired overlay color and transparency */
}

.overlay-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay-nav a {
  color: var(--icon-color); /* Replace with your desired link color */
  font-size: 3rem; /* Replace with your desired font size */
  text-decoration: none;

  margin-bottom: 40px;
}

.overlay-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.overlay-close img {
  width: 30px; /* Replace with your desired close icon size */

  margin-top: 20px;
  margin-right: 20px;
}

/* --------------------------- Footer ---------------------- */
footer {
  display: flex;
  flex-direction: column;
 
  background-color: var(--secondary-bg-color); 
  padding-left: 30px;
  padding-top: 40px;
}

footer h4 {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: 10px;
}

footer p {
  font-size: 1rem;
  font-weight: 200;
  color: #5f5f5f;
}

footer a {
  font-size: 1rem;
  font-weight: 200;
  color: #5f5f5f;
  text-decoration: none;
}

.f_margin {
  margin-bottom: 20px;
}

footer div:not(#volunteer) {
  margin-bottom: 40px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form_style {
  background-color: var(--third-bg-color);
  border: solid 2px #fb7f7d;
  border-radius: 15px;

  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  width: 250px;
  height: 40px;

  color: black;
  font-size: 1rem;
  font-weight: 500;
}

form button {
  background-color: var(--third-bg-color);
  border: solid 2px #fb7f7d;
  border-radius: 20px;

  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  width: 150px;
  

  color: black;
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
 
  margin-top: 20px;
  margin-right: 25px;
}

#socials img {
  width: 50px;
  margin-right: 5px;
}

/* Desktop styles */

@media (min-width: 768px) {
  .icon-container {
    display: none;
  }

  .logo-container img {
  width: 100px; /* Replace with your desired logo size */
}

  nav.mobile-nav {
    display: flex;
  }

  .overlay {
    display: none;
  }

  header {
    padding: 20px;

    max-width: 1800px;
    margin: auto;
  }

  nav.mobile-nav {
    display: flex;
    margin-right: 40px;
  }

  nav.mobile-nav a {
    color: var(--icon-color); /* Replace with your desired link color */
    font-size: 1.5rem; /* Replace with your desired font size */
    margin-left: 40px;

    text-decoration: none;
  }

  nav.mobile-nav a:hover,
  nav.mobile-nav a:active {
    text-decoration: underline;
  }

  /* ------------------- Footer -------------------- */
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }

  #socials {
    justify-content: flex-start;
  }
}

</style>
